body {
  background: #e5d0aa;
  color: #221b1a;
  font-family: monospace;
  /* min-height: 100%; */
  font-size: 1.25em;
  margin: 0;
  margin-bottom: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
}

#page_wrapper {
  max-width: 800px;
}

@media (min-width: 800px) {
  .title {
    position: relative;
    color: black;
  }
}

img {
  width: 100%;
  /* position: absolute; */
}

.heart_container {
  justify-content: center;
  margin-top: 5%;
}

.heart_img {
  width: 1.5rem;
}

#top_card {
  width: 100%;
  position: relative;
}

.title {
  color: #fcb56f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* font-weight: 600; */
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 1px 1px 1px #f43d20;
  margin-top: 2%;
}

#title_alt {
  margin-top: 5%;
  margin-bottom: 5%;
  color:#221b1a;
  position: static;
  text-shadow: none;
}

.post {
  margin-top: 5%;
  margin-left: 1em;
  margin-right: 1em;
}
