body {
  color: #1d201f;
  background: rgb(247, 237, 222);
  /* background: #B5C9CF;
  background: #E6EDEF; */
  font-family: "Roboto Mono", monospace;
  /* min-height: 100%; */
  font-size: 1.25em;
  margin: 0;
  text-align: center;
  justify-content: center;
}

#page_wrapper {
  /* max-width: 1000px */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

@media (min-width: 1000px) {
  .post_inner_wrapper_bottom {
    grid-template-columns: repeat(3, 1fr);
  }

  .post_inner_wrapper {
    grid-template-columns: auto auto;
  }

  .icon_wrapper_right {
    order: 1;
  }
}

img {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

h2 {
  /* color: #63A088; */
}

.heart_container {
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.heart_img {
  width: 1.5rem;
}

#top_card {
  width: 100%;
}

#top_post {
  margin-top: 3%;
  margin-left: 1em;
  margin-right: 1em;
}

#timeline {
  width: 100%;
  height: 10em;
  margin-top: 7%;
  margin-bottom: 7%;
}

.post,
.post_colored,
.bottom_post_colored {
  /* margin-top: 5%; */
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 33vh;
}

.post_colored,
.bottom_post_colored {
  padding: 1em;
  background: #fbf6ef;
}

.post_inner_wrapper {
  max-width: 1000px;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  display: grid;
  column-gap: 3rem;
  row-gap: 2rem;
}

.bottom_post_colored {
  display: block;
  padding-top: 3%;
}

.text_in_post {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon,
.icon_left,
.icon_right {
  display: block;
  width: 7rem;
  flex-shrink: 0;
}

.icon_wrapper,
.icon_wrapper_right,
.bottom_icon_wrapper {
  justify-content: center;
  display: flex;
}

.bottom_icon_wrapper {
  height: 8rem;
}

#toast_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#toastmasters {
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;
  margin-right: 4rem;
  /* display: block; */
}

.post_inner_wrapper_bottom {
  display: grid;
  /* grid-template-columns: 1fr;
  grid-template-columns: repeat(3, 1fr); */
  column-gap: 3rem;
  row-gap: 2rem;
}

.icon_text_group {
  /* max-width: 400px; */
}
