/* 
  Custom styles for lepik.se
  Written by Andreas Lepik
*/

/* Define global variables */
:root {
  --grey-med: rgb(129, 129, 129);
  --grey-med-focus: rgb(120, 120 , 120);
  --grey-dark: rgb(100, 100, 100);
  --grey-darker: rgb(49, 49, 49);

  --row-focus: none;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/*
 * Import San Fransisco font
 */
@font-face {
  font-family: "San Fransisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  background: var(--grey-med);
  color: white;
  font-family: 'San Fransisco', 'DM Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-size: 1.25em;
  overflow: hidden; /* Hide scrollbar */
}

::-moz-selection {
  background: var(--grey-darker);
  color: white;
}

::selection {
  background: var(--grey-darker);
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2 {
  font-size: 1.33em;
  line-height: 1.35;
}

h2 {
  font-size: 1em;
}

a {
  color: white;
  transition: color 0.2s ease;
}

a:hover {
  color: aquamarine;
}

.page-wrap {
  width: 45rem;
  max-width: 90%;
  margin: .5em auto;
  padding-bottom: 5%;
}

.overlap-text {
  font-weight: 900;
  font-size: 4rem;
  padding: none;
  margin: none;

}

.right {
  z-index: 3;
  color: aquamarine;
  position: relative;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}

/* Hacky title animation on hover */
.right:hover {
  font-size: 4.1rem;
}

.left {
  z-index: 1;
  color: coral;
  left: 5px;
  top: -0.89em;
  position: absolute;
  height: 0.89em;
}

.front {
  z-index: 2;
  color: white;
  left: 2px;
  top: -0.89em;
  position: absolute;
  height: 0.89em;
  text-align: center;
}

/* Uniform appereance on focus */
input:focus,
button:focus {
  background: var(--grey-dark);
  scale: 1.05;
}

.checkbox-row {
  align-items: center;
  display: flex;
  padding: 1%;
  padding-left: 2%;
  border-left: var(--row-focus);
  border-radius: 2px;
  border-width: 1px;
}

/* Remove top padding from all rows except first one */
.checkbox-row ~ .checkbox-row {
  padding-top: none;
  background: transparent;
  /* border: none; */
}

/* Hide the default checkbox outside window to still be focusable */
input[type='checkbox'] {
  position: absolute;
  left: -100px;
}

/* Draw custom checkbox for general purpose */
input[type='checkbox'] + label {
  display: block;
  background:transparent;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;

  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  /* Fix blurry transition */
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}


input[type='checkbox']:hover + label {
  background: var(--grey-dark);
}

input[type='checkbox']:checked + label {
  background: white;
  color: var(--grey-med);
}

/* Custom size for checkboxes in matrix */
.checkbox-row input[type='checkbox'] + label {
  width: 50px;
  height: 50px;
  margin-right: 3%;
}

.checkbox-row input[type='checkbox']:hover + label {
  scale: 1.05;
}

.checkbox-row input[type='checkbox']:focus + label {
  scale: 1.2;
  background-color: var(--grey-dark);
}

.checkbox-row input[type='checkbox']:checked:focus + label {
  background: white;
}

/* Custom sizes for elements in sub pattern box */
.sub-pattern-box > * {
  width: 30px;
  height: 30px;
  margin-right: 2%;
}

.sub-pattern-box {
  display: flex;

  margin-top: 2%;
  padding-inline-start: 1%;
  padding-bottom: 2%;
}

/* Custom sizes for elements in master box */
.master-box > * {
  height: 40px;
  width: 40px;
  margin-right: 2%;
  text-align: center;
}

.master-box {
  display: flex;
  padding: 1%;
}

.checkbox-matrix {
  /* border: 2px solid var(--grey-med-focus); */
  /* background: var(--grey-dark); */
  border-radius: 2px;
}

label {
  font-size: 0.5em;
}

/* Visualize boxes in small windows. */
@media (max-width: 60em) {
  .page-wrap {
    background-color: coral;
  }

  .checkbox-matrix {
    background-color: rgb(255, 151, 113);
  }

  .master-box {
    background-color: rgb(255, 151, 113);
  }

  h1 {
    background-color: rgb(255, 151, 113);
  }

  .sub-pattern-box {
    background: lightblue;
  }  
}

/* Buttons */
button {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  /* padding: 5px 10px; */
  /* margin: 5px; */
  transition: 0.5s ease all;
  /* Fix for blurry transition */
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);  
}

button:hover {
  background: rgb(114, 114, 114);
}

button:active {
  outline: none;
  animation: button-click ease 0.3s;
}

@keyframes button-click { 
  0% { transform: scale(1); color: rgb(255, 187, 162);}
  50% { transform: scale(1.03); color: coral;}
  100% { transform: scale(1); color: rgb(255, 187, 162);}
}

.corner-menu {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  width: 2em;
  height: 8em;
}

.corner-menu > * {
  opacity: 0.2;
  height: 2em;
  width: 2em;
  border: 1px solid white;
  border-radius: 2em;
  /* border-bottom: 1em; */
  margin-bottom: 0.2em;
}

.corner-menu > *:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  visibility: hidden;
}

.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1em;
  background-color: var(--grey-med);
  transform: translate(-50%, -50%);
}

.modal-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Numberbox input */

input[type='number'] {
  background: none;
  border: 1px solid white;
  text-align: left;
  /* padding: 4px 5px; */
  color: white;
  width: 3em;
  -moz-appearance: textfield;
  transition: 0.5s ease all;
  /* Fix for blurry transition */
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);  
}

input[type='number']:focus {
  caret-color: transparent;
  background: rgb(100, 100, 100);
}

input[type='number']:invalid {
  background: black;
}
/* Remove arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 420px) {
  body {
    font-size: 1.5em;
  }
}
